body {
  color: #facade;
  font-family: sans-serif;
  box-sizing: border-box;
  background-size: 100%, 100%;
}

footer, header {
  position: absolute;
  padding: 9px;
  left: 50%;
  transform: translate(-50%);
}

top {
  top:  9%;
}

footer {
  bottom: 3%;
}

span {
  background: #111e;
  padding: 9px;
  width: fit-content;
}

.score {
  justify-self: center;
}

header, footer {
  display: grid;
  grid-template-rows: 27px 27px;
  grid-template-columns: 81px 81px 81px;
  background: #111e;
  padding: 9px;
}

#container {
  background:#111e;
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 9px;
}
